<%- include('./parts/header.ejs'); %>
<%- include('./parts/cnav.ejs'); %>
<div class="main-content">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-9">
            <%- include('./parts/alert.ejs'); %>
            <div class="card">
                <div class="card-body card-block">
                    <% if(orders.length != 0){ %>
                    <h3 class="title-5 m-b-35 text-center">Your Orders</h3>
                    <div class="table-responsive m-b-40" style="padding: 10px;">
                        <table id="logsTable" class="table table-borderless table-data3" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Shop Name</th>
                                    <th>Contact No.</th>
                                    <th>Order Type</th>
                                    <th>Status</th>
                                    <th class="text-center">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach((order)=>{ %>
                                <tr>
                                    <td><%= order.date %></td>
                                    <td><%= order.shopName %></td>
                                    <td><%= order.mobile %></td>
                                    <td><%= order.type %></td>
                                    <% if(order.status) { %>
                                    <td>Delivered</td>
                                    <% } else { %>
                                    <td>Pending</td>
                                    <% } %>
                                    <td>
                                        <div class="table-data-feature">
                                            <form action="/c/orders/<%= order._id %>" method="get">
                                                <button class="item" type="submit" data-placement="top" title="View"
                                                    data-toggle="tooltip">
                                                    <i class="zmdi zmdi-eye"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <% } else { %>
                        <p class="text-center">You didn't make any order yet.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COPYRIGHT-->
<!-- <section class="p-t-60 p-b-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2020 MediHub. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- END COPYRIGHT-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#logsTable').DataTable({
            //     dom: 'Bfrtip',
            // buttons: [
            //     'copyHtml5',
            //     'excelHtml5',
            //     'print',
            //     {
            //         extend: 'pdfHtml5',
            //         download: 'open'
            //     }
            // ],
            // select: true
        });
    });
    //For dates
    // $(function () {
    //     $('#month').datetimepicker({
    //         format: 'MMM-YYYY'
    //     });
    // });
</script>
<%- include('./parts/footer.ejs'); %>